
<html lang="es">
  <head>
       <title>clinica-dental-juan</title>
       <link rel="stylesheet" href="public\inicio.css">
       <style>
          *{
               margin: 0%;
               padding: 0%;
               box-sizing: border-box;
          }
          body{
               margin-top: 20px;
               background-color: rgb(6, 105, 72);
               color: aliceblue;
          }
          nav{
              
               margin: auto;
               text-align: center;
               margin-top: 150px;
          }
          p{
               text-align: center;
               font-size: 30px;
               margin-top: 20px;
               color: rgb(4, 52, 94);
          }
          .lo{
              
               color: aliceblue;
    text-decoration: none;
    font-size: 24px ;
    background-color: rgb(6, 80, 28);
    padding: 10px 45px;
    border-radius: 5px;
          }
          .po{
               color: aliceblue;
    text-decoration: none;
    font-size: 24px ;
    background-color: rgb(6, 80, 28);
    padding: 10px 45px;
    margin-top: 10px;
    border-radius: 5px; 
  
          }
          .mon{
               background-image: url(https://www.smilelife.org/images/smilelife/clinicas/smilelife_clinicas_gallery_fuenla03@2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 800px;
        height: 500px;
        margin-top: 10px;
        margin-left: 250px;
          }

          .modelo{
               background-color: rgb(53, 83, 73);
               width: 500;
               height: 200;
              border-radius: 5px;
              opacity: 80%;
              
          }
     </style>

  </head>
    <body class="mon">
       
        <img src="C:\Users\Juan\Desktop\clinicadental 800\public\imagenes\logo-clinica-dental-juan.png" alt="">
        <p>Clínica Dental Juan</p>
        <br>
        <br><br>
        <div class="btn-center">

            
            <nav class="modelo">
                <button><a class="lo" href="file:///C:/Users/Juan/Desktop/Clinica700/Archivos%20html/usuario.html" target="_blank">Iniciar seccion</a></button>
                <br>
                <br>
                <br>
                <br>
                <button><a class="po" href="http://localhost:4200/" target="_blank">Registrarce</a></button>
           </nav>
        </div>  
   </body>
</html>