<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Navegación</title>
    <style>
        *{
            margin: 0;
            padding: 0%;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            height: 1000px;
            width: 800px;
        }
        nav {
            background-color: #034129;
            color: white;
            padding: 15px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        nav ul li {
            margin-right: 50px;
            margin: auto;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            margin-left: 15px;

        }
        nav ul li a:hover {
            text-decoration: underline;
        }
        img{
           height: 100px; 
           width: 200px;
           margin: auto;
           margin-left: 300px;
           
        }
        h2{
            margin-left: 300px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(3, 28, 49);
          
        }
        .contener{
            background-image: url(https://www.smilelife.org/images/smilelife/clinicas/smilelife_clinicas_gallery_fuenla03@2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 800px;
        height: 500px;
        margin-top: 10px;
        margin-left: 250px;
        }
    </style>
</head >
<body class= "contener">
    <img src="C:\Users\Juan\Desktop\clinicadental 800\public\imagenes\logo-clinica-dental-juan.png" alt="">
    <h2>Clinica Dental Juan</h2>
    <br>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">historia</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">servisios</a></li>
                <li><a href="#">galeria</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>